# Remove this line before deploying
_____REMOVE_THIS_LINE_____=True

BOT_TOKEN = ""
OWNER_ID =
AUTHORIZED_CHATS = ""  # Split by space
# If you want to use Credentials externally from Index Links, fill these vars with the direct links
# These are optional, if you don't know, simply leave them, don't fill anything in them.
TOKEN_PICKLE_URL = ""
